<form id="rsvp_form" method="POST" action={% url 'save_rsvp' %}>

    {% for field in form %}
    {{field.error}}
    <!-- <input type='hidden' name='csrfmiddlewaretoken' value='{% csrf_token %}' /> -->

        <div class="row fieldWrapper">
        <div class="col-sm-4" style="text-align: left;">{{ field.label_tag }}</div>
        {% if field.field.widget.input_type == "number" %}
            <div id="input_div">
                <input type="button" value="-"  class="counter ctr-low" onclick="minus()">
                <input type="text" size="5" value="1" id="count">
                <input type="button" value="+" class="counter ctr-high" onclick="plus()">
            </div>

        {% else %}
             <div class="col-sm-8" style="text-align: left;">{{ field }}</div>
        {% endif %}
        </div>
    {% endfor %}
    <input type="submit" value="Saved the Date!" id="submit-btn" style="font-family: 'Playball', cursive;">
</form>                         
