{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Rachana - Mahesh</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta property="og:title" content="Mahesh weds Rachana ">
    <meta property="og:image" itemprop="image" content="{{ request.scheme }}://{{ request.get_host }}{% static '/images/social.png' %}">
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <meta property="og:description" content="We, Mahesh Bingi and Rachana Katkam cordially invite you to attend our marriage ceremony">
    <meta property="og:url" content="maheshrachana.herokuapp.com">
    
    <!-- Font -->
    
    <link href="https://fonts.googleapis.com/css?family=Playball%7CBitter" rel="stylesheet">
    
    <!-- Stylesheets -->
    
    <link href="static/css/bootstrap.css" rel="stylesheet">
    
    
    <link href="static/css/fluidbox.min.css" rel="stylesheet">
    
    <link href="static/css/font-icon.css" rel="stylesheet">
    
    
    <link href="static/css/styles.css" rel="stylesheet">
    
    <link href="static/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    
    <style type="text/css">

        .fieldWrapper{
            line-height: 30px;
            margin-top: 30px;
        }
        .input_field{
            width: 80%
        }
/*        .message_field{

        }
        */        .enlarge{
            font-size: 12px;
        }
        form {
            width: auto;
            padding: 1% 0% 4% 5%;
            /*0% 0% 3% 2%*/
            border: 1px solid #e45f74;
        }

        #submit-btn{
            border: 2px solid #e45f74;
            background-color: #ffffff;
            color: #e45f74;
            cursor: pointer;
            margin-top: 5%;
            font-size: 26px;
        }
        #submit-btn:hover{
            background-color: #e45f74;
            color: #ffffff;
        }

        .counter{
            width: 6vh;
            font-size: 25px;
            line-height: 25px;
        }
        #input_div #count{
            line-height: 25px;

        }

        .ctr-low{
            background-color: #e45f7499;
        }

        .ctr-high{
            background-color: #f95b74fa;
        }
        [class*='-venue'] {
          margin-left: 1em;
      }
      .venue_name{
          display: inline-flex;
      }
        .marker{  height: 66%;
            width: 4%;
            margin-left: 4%;
            margin-top: 2%;
            }
/*.left{
    width: 200px;
    text-align: left;

}

.right{
    width: 300px;
    text-align: left;

    }*/
</style>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <header>
        <a href="#" style="margin-left: 5%; line-height: 60px; font-size: 1.3em;">
        MAHESH AND RACHANA's BIG DAY</a>
    </header>
    
    
    <div class="main-slider" id="home">
        <div class="display-table center-text">
            <div class="display-table-cell">
                <div class="slider-content">

                    <i class="small-icon icon icon-tie"></i>
                    <h5 class="date" style="font-size: 1.5em;">08 DECEMBER 2019</h5>
                    <h3 class="pre-title">Save The Date</h3>
                    <h1 class="title">Rachana <i class="icon icon-heart"></i> Mahesh</h1>
                    
                </div><!-- slider-content-->
            </div><!--display-table-cell-->
        </div><!-- display-table-->
    </div><!-- main-slider -->
    
    
    <section class="section center-text" id="story-area ">
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">

                    <div class="heading">
                        <p style ="font-size: 1.6em">With great pleasure</p>
                        <span class="heading-bottom"><i class="icon icon-star"></i></span>
                        <h2 class="title">Rachana Katkam</h2>
                        <h2 class="title">&</h2>
                        <h2 class="title">Mahesh Bingi</h2>
                        <span class="heading-bottom"><i class="icon icon-star"></i></span><br/><br/>
                        <p style="font-size: 1.4em">invite you to join us at the celebrations</p>
                        <div>
                            <p class="desc margin-bottom" style="display: inline; font-size: 1.6em"><strong>Wedding</strong> on Sunday | 08 December 2019 | 12.23 PM </p>
                        </div>

                        <div>
                            <p class="desc margin-bottom" style="display: inline; font-size: 1.6em"><strong>Reception</strong> on Tuesday | 10 December 2019 | Evening </p>
                        </div>
                    </div>

                </div><!-- col-sm-10 -->
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- section -->

    
    <section class="section counter-area center-text">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <div class="heading">
                        <h2 class="title">Don't miss it!</h2>
                        <span class="heading-bottom"><i class="color-white icon icon-star"></i></span>
                    </div>
                </div>
                
                <div class="col-sm-2"></div>
                <div class="col-sm-8">

                    <div class="remaining-time">
                        <div id="clock"></div>
                    </div><!-- remaining-time -->
                </div><!-- col-sm-10 -->
                
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- section -->
    <section class="section center-text" id="story-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">

                    <div class="heading">
                        <h2 class="title">Our Story</h2>
                        <span class="heading-bottom"><i class="icon icon-star"></i></span>
                    </div>
                    <div>
                        <img src="static/images/final_nana.gif">
                    </div>                  
                </div><!-- col-sm-10 -->
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- section -->

    <section class="section w-details-area center-text journey" id="theknot">
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">

                    <div class="heading">
                        <h2 class="title">The Knot</h2>
                        <span class="heading-bottom"><i class="icon icon-star"></i></span>
                    </div>
                    
                    <div class="wedding-details margin-bottom">

                        <div class="w-detail right">
                            <i class="icon"></i><img src="static/images/rings1.png"/ style="width: 25%">
                            <h4 class="title">CEREMONY</h4>
                            <p>Witness the courteous gentleman proposing to his pretty lady, and declaring his undying love for her by getting down on one knee.</p>

                            <!-- <hr/><p>Witness Mahesh going on his knee triggering Rachana to plummet into some kind of alternate universe surrounded by rose petals, dimly-lit candles, heart-shaped balloons and general happy, warm feelings.</p> -->
                        </div><!-- w-detail -->
                        
                        <div class="w-detail left">
                            <i class="icon"></i><img src="static/images/hands_love.jpg"/ style="width: 40%">
                            <h4 class="title">WEDDING</h4>
                            <p>Join the Bride and Groom as they get weaved by the auspicious wedding vows, a promise of unconditional acceptance.</p>
                        </div><!-- w-detail -->
                        
                        <div class="w-detail right">
                            <i class="icon icon-cake"></i>
                            <h4 class="title">RECEPTION</h4>
                            <p>The Couple request the pleasure of your company at a reception dinner.</p>
                        </div><!-- w-detail -->
                        
                        <div class="w-detail left">
                            <i class="icon"></i><img src="static/images/home.png"/ style="width: 20%">
                            <h4 class="title">TOGETHER FOREVER</h4>
                            <!-- <p>And then they live in their hearts forever..!</p><hr/> -->
                            <p>And then she lives in the warmth of his heart making it HOME, forever and ever.!</p>
                        </div><!-- w-detail -->
                        
                    </div><!-- wedding-details -->
                    
                </div><!-- col-sm-10 -->
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- section -->
    
</section><!-- section -->
<section class="section center-text" id="venue-area">
    <div class="container heading">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <h2 class="title">Venue Details</h2>
                <span class="heading-bottom"><i class="icon icon-star"></i></span>
                <div class="venue-container">
                    <div class="wedding-venue">
                        <div class="row">
                            <h3 class="title"> Wedding</h3>
                        </div>
                        <div class="row">
                            <a class="venue_name" target="_blank" href="https://goo.gl/maps/85xZt38TDswSu4T36" style="color:#e45f74; cursor: pointer;"><h3><u>Sri Sai Gardens</u></h3>
                            <img class="marker" style="width: 4%;" src="static/images/map.png"></a>
                        </div>
                        <div class="row">
                            <h4>Armoor, Telangana, India</h4>

                        </div>
                    </div><br/><br/><hr/>
                    <div class="reception-venue">
                        <div class="row">
                            <h3 class="title">Reception</h3>
                        </div>
                        <div class="row">
                            <a class="venue_name" target="_blank" style="color:#e45f74; cursor: pointer;" href='https://goo.gl/maps/FzfuMfRruJZN1ayH9'><h3><u>Pushpa Sneh Lawns</u></h3>
                            <img class="marker" style="width: 4%;" src="static/images/map.png"></a>
                        </div>
                        <div class="row">
                            <h4>Solapur, Maharashtra, India</h4>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="col-sm-12 col-lg-6">

                <div class="heading">
                    <h2 class="title">R S V P</h2>
                    <span class="heading-bottom"><i class="icon icon-star"></i></span>
                    <div id="form-container">
                        <form id="rsvp_form" method="POST">
                            {% csrf_token %}

                            {% for field in form %}
                            <div class="row fieldWrapper">
                                <div class="col-sm-2 col-lg-4" style="text-align: left;">{{ field.label_tag }}</div>
                                {% if field.field.widget.input_type == "number" %}
                                <div id="input_div col-sm-10">
                                    <input type="button" value="-"  class="counter ctr-low" onclick="minus()">
                                    <input type="text" size="5" value="1" id="count">
                                    <input type="button" value="+" class="counter ctr-high" onclick="plus()">
                                </div>

                                {% else %}
                                <div class="col-sm-10 col-lg-8 field_div" style="text-align: left;">{{ field }}</div>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <input type="submit" value="Saved the Date!" id="submit-btn" style="font-family: 'Playball', cursive;">
                        </form>                         
                    </div>
                </div>
            </div><!-- col-sm-10 -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- section -->

<footer class="footer">
    <div class="container center-text">

        <p>
            While we say YES, we would love to make a small request in lieu of gifts by asking you to say NO to plastic, water and electricity wastage and also elephant rides. <a href="https://www.50waystohelp.com" target="_blank"> (more!)</a> <br/>- Rachana and Mahesh
        </p>
        <div class="logo-wrapper">
            <i class="icon icon-star"></i>
        </div>

        <p class="right">Reference to <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
            
        </div><!-- container -->
    </footer>
    
    <!-- SCIPTS -->
    <script src="static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){

            function imageresize() {
             var contentwidth = $('#content').width();
             if ((contentwidth) < '700'){
                 $('.fluidimage').attr('src','little.jpg');
             } else {
                 $('.fluidimage').attr('src','big.jpg');
             }
         }

 imageresize();//Triggers when document first loads    
 
 $(window).bind("resize", function(){//Adjusts image when browser resized
     imageresize();
 });
})


        $("#rsvp_form").submit(function(event) {
            $('.field_div').children('p').remove();
            event.preventDefault();
            $.ajax({ data: $(this).serialize(), 
                url: "{% url 'save_rsvp' %}",
                type: 'POST',
                dataType: "json",
                success: function(response) {
                    console.log(response)
                    if(response['success']) {
                        if (response['is_attending']){
                            console.log("test")
                           $("#form-container").html("<p class='success'>\
                             Looking forward to see you soon! Please feel free to reach out if any questions.<br/> - Rachana and Mahesh</p>");}
                        else {
                            $("#form-container").html("<p class='success'>\
                                We will miss you at the celebrations. <br/> - Rachana and Mahesh</p>");}
                    }
                    else if(response['reload']) {
                       $("#form-container").html("<p>Something went wrong. Please <a href = 'location.reload()'> refresh</a></p>");}
                    else{
                        errors = JSON.parse(response)
                            for (var name in errors) {
                                for (var i in errors[name]) {
                                // object message error django
                                console.log(name)
                                var $input = $("input[name='"+ name +"']");
                                $input.after("<p class='form_error'>" + errors[name][i].message + "</p>");
                                }
                            }
                    }
                }
            })
        })

        $('input[name=attending_wedding]').change(function() {
            if ($('input[name=attending_wedding]:checked').val() == "0") {
                if ($('input[name=attending_reception]:checked').val() == "0"){
                    $("#count").val("0")
                }
                else{
                    $("#count").val("1")
                }
            }
            else{
                $("#count").val("1")

            }
        });

        $('input[name=attending_reception]').change(function() {
            if ($('input[name=attending_reception]:checked').val() == "0") {
                if ($('input[name=attending_wedding]:checked').val() == "0"){
                    $("#count").val("0")
                }
                else{
                    $("#count").val("1")
                }
            }
            else{
                $("#count").val("1")

            }
        });

        $('.field_div').children('input').on('keydown', (
            function() {
                $('.field_div').children('p').remove();

            }))
        </script>


        <script src="static/js/tether.min.js"></script>

        <script src="static/js/bootstrap.js"></script>

        <script src="static/js/jquery.countdown.min.js"></script>

        <script src="static/js/jquery.fluidbox.min.js"></script>


        <script src="static/js/scripts.js"></script>

    </body>
    </html>